# Enter your delay in milliseconds.
# It defaults to 0 ms if the "delay" field is empty.

offset: 0
autoOffset: false
spread: 0
microsoftAuth: false
GCSnipe: false
changeSkin: false
skinModel: slim
skinFileName: example.png
